<div class="container mt-5">
    <div class="row">
        <div class="btn-group  text-center">
            <button class="btn btn-primary" ngDefaultControl name="btnUnread" (click)="loadMessages('Unread')">
                <i class="fa fa-envelope"></i> Unread
            </button>
            <button class="btn btn-primary" ngDefaultControl name="btnInbox" (click)="loadMessages('Inbox')">
                <i class="fa fa-envelope-open"></i> Inbox
            </button>
            <button class="btn btn-primary" ngDefaultControl name="btnOutBox" (click)="loadMessages('Outbox')">
                <i class="fa fa-paper-plane"></i> Outbox
            </button>
        </div>
    </div>

    <div class="row text-center" *ngIf="messages.length == 0">
        <div class="col text-center mt-5" ><strong class="mt-9">No messages in the {{messageContainer}} mail box</strong></div>
        <h3 class="center"></h3>
    </div>

    <div class="row" *ngIf="messages.length > 0">
        <table class="table table-hover" style="cursor: pointer">
            <tr>
                <th style="width: 40%">Message</th>
                <th style="width: 20%" *ngIf="messageContainer == 'Outbox'">To</th>
                <th style="width: 20%" *ngIf="messageContainer == 'Inbox'">From</th>
                <th style="width: 20%">Sent / Received</th>
                <th style="width: 20%"></th>
            </tr>
            <tr *ngFor="let message of messages"
                [routerLink]="['/members',  messageContainer == 'Outbox' ? message.recipientId : message.senderId]"
                [queryParams]="{tab:3}">
                <td>{{message.content}}</td>
                <td>
                    <div *ngIf="messageContainer != 'Outbox'">
                        <!-- <img src={{message?.senderPhotoUrl}} class="img-circle rounded-circle"> -->
                        <strong>{{message.senderKnownAs}}</strong>
                    </div>
                    <div *ngIf="messageContainer == 'Outbox'">
                        <!-- <img src={{message?.recipientPhotoUrl}} class="img-circle rounded-circle"> -->
                        <strong>{{message.recipientKnownAs}}</strong>
                    </div>
                </td>
                <td>{{message.messageSent | timeago }}</td>
                <td>
                    <button class="btn btn-danger" (click)="$event.stopPropagation()"
                        (click)="deleteMessage(message.id)">Delete</button>
                </td>
            </tr>
        </table>

    </div>

</div>

<div class="d-flex justify-content-center" *ngIf="this.pagination.totalItems > 0">
    <pagination [itemsPerPage]="this.pagination.pageSize" [totalItems]="this.pagination.totalItems"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
        (pageChanged)="PageChanged($event)" [(ngModel)]="this.pagination.pageNumber" [boundaryLinks]="true">
    </pagination>
</div>